%header
  %p チャットグループが作成されました

%div.side-bar
  %div.side-bar__user
    %div.side-bar__user__name
      %p keisuke
    %div.side-bar__user__icons
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  %div.side-bar__groups
    %div.side-bar__groups__individual
      %p.side-bar__groups__individual--name 現在のグループ
      %p.side-bar__groups__individual--message 最新のメッセージ
    %div.side-bar__groups__individual
      %p.side-bar__groups__individual--name その他①グループ
      %p.side-bar__groups__individual--message まだメッセージはありません
    %div.side-bar__groups__individual
      %p.side-bar__groups__individual--name その他②グループ
      %p.side-bar__groups__individual--message まだメッセージはありません

%div.main-content
  %div.main-content__header
    %div.main-content__header__info
      %h2 sampleグループ
      %p member: keisuke
    %div.main-content__header__button
      Edit
  %div.main-content__chat-space
    %h4 keisuke
    %p hello
  %div.main-content__message-box
    %p メッセージ送信
