= render 'layouts/parts/sidebar_left'

.main-content
  .main-content__header
    .main-content__header__info
      %h2 sampleグループ
      %p member: keisuke
    = link_to new_chat_group_path, class:'main-content__header__button' do
      %p Edit
  .main-content__chat-area
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello2
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello3
  .main-content__send-box
    .main-content__send-box__text-area
      %p メッセージを送信する
      %i.fa.fa-picture-o
    .main-content__send-box__button
      %p Send

