%header
  %p チャットグループが作成されました

.side-bar
  .side-bar__user
    .side-bar__user__name
      %p keisuke
    .side-bar__user__icons
      %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class:'side-bar__user__icons--white' do
        %i.fa.fa-cog
  .side-bar__groups
    .side-bar__groups__individual
      %h3 現在のグループ
      %p 最新のメッセージ
    .side-bar__groups__individual
      %h3 その他①グループ
      %p まだメッセージはありません
    .side-bar__groups__individual
      %h3 その他②グループ
      %p まだメッセージはありません

.main-content
  .main-content__header
    .main-content__header__info
      %h2 sampleグループ
      %p member: keisuke
    .main-content__header__button
      %p Edit
  .main-content__chat-area
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello2
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello3
  .main-content__send-box
    .main-content__send-box__text-area
      %p メッセージを送信する
      %i.fa.fa-picture-o
    .main-content__send-box__button
      %p Send

