%div{class: "side-bar"}
  %div{class: "side-bar__user"}
    %p keisuke
  %div{class: "side-bar__group"}
    %ul
      %li sample1グループ
      %p まだメッセージはありません
      %li sample2グループ
      %p まだメッセージはありません



%div{class: "main-content"}
  %div{class: "main-content__header"}
    %h2 sampleグループ
    %p member: keisuke
  %div{class: "main-content__chat-space"}
    %h4 keisuke
    %p hello
  %div{class: "main-content__message-box"}
    %p メッセージ送信
