%header
  %p チャットグループが作成されました

%div.side-bar
  %div.side-bar__user
    %div.side-bar__user__name
      %p keisuke
    %div.side-bar__user__icons
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  %div.side-bar__now-group
    %ul
      %li 現在のグループ
      %p 最新のメッセージ
  %div.side-bar__other-groups
    %ul
      %li その他①グループ
      %p まだメッセージはありません
      %li その他②グループ
      %p まだメッセージはありません

%div.main-content
  %div.main-content__header
    %h2 sampleグループ
    %p member: keisuke
  %div.main-content__chat-space
    %h4 keisuke
    %p hello
  %div.main-content__message-box
    %p メッセージ送信
