.side-bar
  .side-bar__user
    .side-bar__user__name
      %p keisuke
    .side-bar__user__icons
      = link_to new_chat_group_path, class:'side-bar__user__icons--white' do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class:'side-bar__user__icons--white' do
        %i.fa.fa-cog
  .side-bar__groups
    - @chat_groups.each do |group|
      .side-bar__groups__individual
        %h3
          = group.name
        %p まだメッセージはありません

.main-content
  .main-content__header
    .main-content__header__info
      %h2 sampleグループ
      %p member: keisuke
    = link_to new_chat_group_path, class:'main-content__header__button' do
      %p Edit
  .main-content__chat-area
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello2
    .main-content__chat-area__message
      .main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      .main-content__chat-area__message__text
        %p hello3
  .main-content__send-box
    .main-content__send-box__text-area
      %p メッセージを送信する
      %i.fa.fa-picture-o
    .main-content__send-box__button
      %p Send

