%header
  %p チャットグループが作成されました

%div.side-bar
  %div.side-bar__user
    %div.side-bar__user__name
      %p keisuke
    %div.side-bar__user__icons
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  %div.side-bar__groups
    %div.side-bar__groups__individual
      %h3 現在のグループ
      %p 最新のメッセージ
    %div.side-bar__groups__individual
      %h3 その他①グループ
      %p まだメッセージはありません
    %div.side-bar__groups__individual
      %h3 その他②グループ
      %p まだメッセージはありません

%div.main-content
  %div.main-content__header
    %div.main-content__header__info
      %h2 sampleグループ
      %p member: keisuke
    %div.main-content__header__button
      %p Edit
  %div.main-content__chat-area
    %div.main-content__chat-area__message
      %div.main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      %div.main-content__chat-area__message__text
        %p hello
    %div.main-content__chat-area__message
      %div.main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      %div.main-content__chat-area__message__text
        %p hello2
    %div.main-content__chat-area__message
      %div.main-content__chat-area__message__info.clearfix
        %h3 keisuke
        %p 2017/10/16
      %div.main-content__chat-area__message__text
        %p hello3
  %div.main-content__send-box
    %div.main-content__send-box__text-area
      %p メッセージを送信する
    %div.main-content__send-box__button
      %p Send

