$black: #333333;
$white: #ffffff;
$light-gray: #eeeeee;
$dark-gray: #434a54;
$silver-gray: #999999;
$gray: #dddddd;
$background-gray: #aaaaaa;
$safe-color: #333333;
$dark-blue: #2f3e51;
$deep-blue: #253141;
$sky-blue: #38aef0;
$matte-red: #d65f4c;
$danger-red: #f05050;
