// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  background-color: #38aef0;
  color: #ffffff;
  text-align: center;
}

.side-bar {
  width: 300px;
  height: 100vh;
  float: left;
  color: #ffffff;
  background-color: #2f3e51;
    &__user {
      height: 88px;
      font-size: 16px;
      background-color: #253141;
      padding: 0 20px;
      margin-bottom: 20px;
      &__name {
        float: left;
        padding-top: 30px;
      }
      &__icons {
        float: right;
        padding-top: 32px;
      }
    }
    &__groups {
      padding: 0 20px;
      &__individual {
        margin-bottom: 40px;
        &--name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        &--message {
          font-size: 11px;
        }
      }
    }
}

.main-content {
  float: right;
  width: calc( 100vw - 380px );
  height: 100vh;
  padding: 0 40px;
  &__header {
    height: 88px;
    background-color: #ffffff;
  }
}
