// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #38aef0;

header {
  background-color: $blue;
  color: #ffffff;
  text-align: center;
}

.side-bar {
  width: 300px;
  height: 100vh;
  float: left;
  color: #ffffff;
  background-color: #2f3e51;
    &__user {
      height: 100px;
      font-size: 16px;
      background-color: #253141;
      padding: 0 20px;
      margin-bottom: 20px;
      &__name {
        float: left;
        padding-top: 30px;
        font-weight: bold;
      }
      &__icons {
        float: right;
        padding-top: 32px;
      }
    }
    &__groups {
      padding: 0 20px;
      &__individual {
        margin-bottom: 40px;
        & h3 {
          font-size: 15px;
          margin-bottom: 5px;
        }
        & p {
          font-size: 11px;
        }
      }
    }
}

.main-content {
  float: right;
  width: calc( 100vw - 300px );
  height: 100vh;
  &__header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 0.5px #eeeeee;
    padding: 0 40px;
    &__info {
      float: left;
      & h2 {
      font-size: 20px;
      margin: 35px 0 15px;
      color: #333333;
      }
      & p {
        font-size: 12px;
        color: #999999;
      }
    }
    &__button {
      display: table;
      float: right;
      border: 1px solid $blue;
      height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      color: #38aef0;
      & p {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  &__chat-area {
    height: calc( 100vh - 236px );
    padding: 46px 40px 0 40px;
    background-color: #eeeeee;
    &__message {
      margin-bottom: 40px;
      color: #434a54;
      &__info {
        margin-bottom: 10px;
        & h3 {
          font-size: 16px;
          float: left;
          font-weight: bold;
        }
        & p {
          font-size: 12px;
          float: left;
          margin-left: 10px;
          color: #999999;
          margin-top: 4px;
        }
      }
      &__text {
        // clear: both;
        & p {
        margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
  &__send-box {
    height: 50px;
    padding: 20px 40px;
    background-color: #aaaaaa;
    &__text-area {
      float: left;
      background-color: #fff;
      height: 100%;
      margin-left: 10px;
      width: calc( 100% - 110px )
    }
    &__button {
      float: left;
      width: 100px;
      height: 50px;
      background-color: $blue;
      & p {
        color: #ffffff;
      }
    }
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
